apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: vishal-dev
spec:
  template:
    spec:
      containers:
      - name: flask
        resources:
          requests:
            cpu: "100m"
            memory: "200Mi"
          limits:
            cpu: "250m"
            memory: "300Mi"
